body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.Field {
  font-size: 0.6em;
  margin: 0.2em 0;
}

.NavBar {
  display: flex;
  background-color: deepskyblue;
  color: white;
}

.NavBar * {
  color: inherit;
}

.NavBar > * {
  padding: 0.75em 0.5em;
  text-decoration: none;
  border-bottom: 5px solid deepskyblue;
}

.NavBar > .active {
  border-bottom: 5px solid white;
}

.NavBar > *:first-child {
  margin-left: auto;
}

.icon-wrapper {
  position: relative;
  padding: 0px 30px;
}

.icon-wrapper .anticon {
  position: absolute;
  top: -2px;
  width: 16px;
  height: 16px;
  line-height: 1;
  font-size: 16px;
  color: rgba(0, 0, 0, .25);
}

.icon-wrapper .anticon:first-child {
  left: 0;
}

.icon-wrapper .anticon:last-child {
  right: 0;
}
