body {
  margin: 0;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(to right, #3f4c6b, #606c88); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/* .rangeslider__fill { background-color: tomato !important; } */



main {
  color: white
}
label {
color: white;
font-family: 'Ubuntu', sans-serif;
}
input {
  border-radius: 8px;
  opacity: 0.8;
}

h1 {
  font-family: 'Ubuntu', sans-serif;
  color: white;
}
h2 {
  font-family: 'Ubuntu', sans-serif;
  color: white;
}
p {
  color: white;
  font-family: 'Ubuntu', sans-serif;
}

#cards {
  margin:10px
}
.signUpInput {
    width: 78%;
    min-width: 220px;
    color: black;
    margin-bottom: 23px;
}

.logo {
  float: left;
}

.alert {
  color:red
}

.headings {
  font-family: 'Ubuntu', sans-serif;

}
.signout{
font-size: 20px
}
.navLinks {
  font-family: 'Ubuntu', sans-serif;
  font-size: 25px;
  font-weight: normal;
  padding: 4px !important;
  text-decoration: none !important;
}

.nameplace {
  font-family: 'Ubuntu', sans-serif;
  font-size: 25px;
  font-weight: normal;
  padding: 4px !important;
  text-decoration: none !important;
}

.navLinks.active {
  font-family: 'Ubuntu', sans-serif;
  font-size: 25px;
  font-weight: bold;
  padding: 4px !important;
  text-decoration: none !important;
}

.averageLabel {
  font-size: 52px;
  text-align: right;
  font-family: 'Mogra', cursive;
}

.centered {
position: fixed;
top: 50%;
left: 50%;
text-align: center;
font-weight: bold;
align-content: center;
white-space: nowrap;
overflow: hidden;

font-family: 'Patua One';
/* bring your own prefixes */
transform: translate(-50%, -50%);
}

.navLinks:hover {
  background: -webkit-linear-gradient(#15fbff, palegreen);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Line {
  margin-bottom: 12px;
}

.LineText {
  margin-bottom: 0px;
}

.Field {
  font-size: 0.6em;
  margin: 0.2em 0;
}

.NavBar {
  display: flex;
  background-color: linear-gradient(to right, #3f4c6b, #606c88);
  color: white;
}

.NavBar * {
  color: inherit;
}

.NavBar > * {
  padding: 0.75em 0.5em;
  text-decoration: none;
  border-bottom: 5px solid #linear-gradient(to right, #3f4c6b, #606c88);
}

.center {
  margin-right: 37%
}

.NavBar > .active {
  border-bottom: 5px solid rgba(21, 251, 255, .9);
  height: 48px;
}

.NavBar > *:first-child {
  margin-left: auto;
}

.icon-wrapper {
  position: relative;
  padding: 0px 30px;
}

.icon-wrapper .anticon {
  position: absolute;
  top: -2px;
  width: 16px;
  height: 16px;
  line-height: 1;
  font-size: 16px;
  color: rgba(0, 0, 0, .25);
}

.icon-wrapper .anticon:first-child {
  left: 0;
}

.icon-wrapper .anticon:last-child {
  right: 0;
}
